<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a class="nav-brand" routerLink="/">Ng Fitness</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout class="navigation-items">
      <li class="nav-item">
        <a mat-raised-button routerLink="/">Home</a>
      </li>
      <li *ngIf="isAuth$ | async" class="nav-item">
        <a mat-raised-button routerLink="/training">Training</a>
      </li>
      <li *ngIf="!(isAuth$ | async)" class="nav-item">
        <a mat-raised-button routerLink="/signup">Signup</a>
      </li>
      <li *ngIf="!(isAuth$ | async)" class="nav-item">
        <a mat-raised-button routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuth$ | async" class="nav-item">
        <button mat-raised-button (click)="logout()">Logout</button>
      </li>
      <li class="nav-item">
        <a
          mat-raised-button
          href="https://github.com/DlopezS98/angular-fitness-tracker"
          target="_blank"
        >
            <img
            class="img-github"
              src="../../../../assets/GitHub-Mark-Light-32px.png"
              width="30px"
              height="30px"
            />
          <span>source code</span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
